@{
    ViewBag.Title = "Resource Not Found";
}
<div class="alert alert-danger">
    <h1>
        @ViewBag.ErrorMassage
    </h1>
    <hr />
    <h5>Please contact administator</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning" style="width: auto !important;">Click hare to navigate Home page</a>