@inject AppDbContext context
@model CreateBook
@{
    ViewBag.Title = "Create Book";
}
<div class="container">
    <form asp-controller="Home" asp-action="Create" method="post" class="mt-2">
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="BookName"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="Author"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="Amount"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="Content"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="CategoryId"></label>
            </div>
            <div class="col-sm-4 form-group">
                <select class="form-control" asp-for="CategoryId">
                    @foreach (var item in context.Categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 form-group">
                <label asp-for="Time"></label>
            </div>
            <div class="col-10">
                <input class="form-control" type="date" asp-for="Time">
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">

            </div>
            <div class="col-sm-10 form-group">
                <button type="submit" class="btn btn-primary btnn">Create</button>
                <button type="reset" class="btn btn-danger btnn">Cancel</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning btnn">Back</a>
            </div>
        </div>
    </form>
</div>